{% extends "base.html" %}
{% block extra_meta_tags %}{% endblock extra_meta_tags %}
{% block title %}En exitos, la número 1{% endblock title %}
{% block extra_css %}{% endblock extra_css %}
<body>
	{% block portadas %}
		<section id="portadas" class="portadas contenido-principal">
			<div class="control-portada control-izq">
				<i class="flecha flecha-izquierda fa fa-arrow-left"></i>
			</div>
			<div class="control-portada control-der">
				<i class="flecha flecha-derecha fa fa-arrow-right"></i>
			</div>
			<div class="slider">
				{% if publicaciones_en_portada %}
					{% spaceless %}
					{% for portada in publicaciones_en_portada %}
							<a href="{% url 'publicaciones:publicacion' portada.tipo_publicacion portada.titulo %}">
								<article class="portada slide" style="background-image: url({{MEDIA_URL}}{{portada.imagen}});">
									<div class="info">
										<h2 class="titulo">{{portada.titulo}}</h2>
										<p class="descripcion">{{portada.parrafo_principal}}</p>
									</div>
								</article>
							</a>
					{% endfor %}
					{% endspaceless %}
				{% else %}
					<article class="portada slide" style="background-image: url({{STATIC_URL}}img/popfm.jpg);">
						<div class="info">
							<h2 class="titulo">No hay publicaciones</h2>
							<p class="descripcion">en portada</p>
						</div>
					</article>
				{% endif %}
			</div>
		</section>
	{% endblock portadas %}
	{% block contenido_central %}
		<section class="publicaciones">
			<div class="encabezado-seccion">
				<h2>Publicaciones recientes</h2>
				<a href="/publicaciones">Ver todas las publicaciones</a>
			</div>
			{% if ultimas_publicaciones %}
				{% spaceless %}
				{% for publicacion in ultimas_publicaciones %}
					<article class="publicacion">
						<a href="{% url 'publicaciones:publicacion'  publicacion.tipo_publicacion publicacion.titulo %}" class="titulo-publicacion">
							<img src="{{MEDIA_URL}}{{publicacion.imagen}}">
							<h2>{{publicacion.titulo}}</h2>
						</a>
						<div class="info">
							<p class="descripcion">{{publicacion.parrafo_principal|truncatechars:108}}</p>
						</div>
					</article>
				{% endfor %}
				{% endspaceless %}
			{% else %}
				<h2>No hay publicaciones que mostrar</h2>
			{% endif %}
		</section>
	{% endblock contenido_central %}
</body>
</html>